<h1>Editing Dados Inportacao Cnab</h1>

<%= render 'form', dados_inportacao_cnab: @dados_inportacao_cnab %>

<%= link_to 'Show', @dados_inportacao_cnab %> |
<%= link_to 'Back', dados_inportacao_cnabs_path %>
