// Place all the styles related to the DadosInportacaoCnabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cnabs_centralizado {
  padding: 10% 10% 10% 10%;
}

.actions {
  margin-left: 35%;
}

.cor-branca {
  color: white;
}
